body {
  background-color: #7da6c7;
  margin: 0px;
}

h1 {
  background-color: gray;
  text-decoration: solid;
  padding: 30px;
  margin: 0px;
}

iframe {
  margin-top: 50px;
}

footer {
  width: 100%;
  background: #494e52;
  color: #fff;
  position: fixed;
  bottom: 0px;
  text-align: center;
  margin: 0px;
  margin-left: 0px;
}
